body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.name{
    color: rgb(245, 17, 74);
}
.half-width{
    width: 50%;
    padding-top: 5%;
}
.half-width img{
    width: 85%;
    margin-left: 5%;
}
.anchor{
    text-decoration: none;
    background-image: linear-gradient(rgb(226, 19, 54),rgb(231, 64, 181));
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
}
.flexible-container{
    display: flex;
    margin-left: 3%;
    padding-right: 10%;
    padding-bottom: 10%;
}
.latest-heading{
    text-align: center;
}
.images img{
    width:30% ;
    margin: 3%;
}
.for-padding{
    padding-bottom: 10%;
}
#client-say{
    text-align: center;
    padding-bottom: 5%;
}
#mail{
    text-align: center;
    background-image: linear-gradient(rgb(226, 19, 54),rgb(231, 64, 181));
    height: 20%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.experience-area{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: 0;
    padding-right: 5%;
}
.experience-item{
    box-shadow: 10px 10px 40px rgb(218, 0, 145);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}
#full-stack{
    border-left: 6px solid;
    border-image: linear-gradient(rgb(235, 7, 45),purple);
    border-image-slice: 1;
}
#baby-web{
    border-left: 6px solid;
    border-image: linear-gradient(blue, rgb(133, 22, 2));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: rgb(247, 2, 84);
    border-radius: 10px;
    margin-top: 10px;
}